$main-color: #005183;
$secondary-color: #ccaa11;

body, h1, h2, p, span, a, li {
    color: $main-color;
}
h1 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $secondary-color;
}
